In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
variation = pd.read_csv('../data/clean/client_id_variation.csv')
variation.head(5)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [4]:
time_spent = pd.read_csv('../data/clean/time_spent.csv')
time_spent = time_spent.drop(columns = 'Unnamed: 0')
time_spent

,client_id,visitor_id,visit_id,from_step,to_step,time_spent,is_error
0,169,201385055_71273495308,749567106_99161211863_557568,start,step_1,0 days 00:00:09,False
1,169,201385055_71273495308,749567106_99161211863_557568,step_1,step_2,0 days 00:00:46,False
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,step_3,0 days 00:01:34,False
3,169,201385055_71273495308,749567106_99161211863_557568,step_3,confirm,0 days 00:01:04,False
4,546,475037402_89828530214,731811517_9330176838_94847,start,step_1,0 days 00:00:10,False
...,...,...,...,...,...,...,...
413379,9999839,948322592_28990736246,715530422_68620416793_515645,step_3,confirm,0 days 00:00:35,False
413380,9999875,738878760_1556639849,931268933_219402947_599432,start,step_1,0 days 00:00:07,False
413381,9999875,738878760_1556639849,931268933_219402947_599432,step_1,step_2,0 days 00:01:39,False
413382,9999875,738878760_1556639849,931268933_219402947_599432,step_2,step_3,0 days 00:03:11,False
413383,9999875,738878760_1556639849,931268933_219402947_599432,step_3,confirm,0 days 00:03:41,False

In [5]:
df = pd.merge(variation, time_spent, on = 'client_id')
df

,client_id,Variation,visitor_id,visit_id,from_step,to_step,time_spent,is_error
0,9988021,Test,580560515_7732621733,781255054_21935453173_531117,start,step_1,0 days 00:00:39,False
1,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_1,step_2,0 days 00:00:14,False
2,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,step_3,0 days 00:00:49,False
3,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,step_2,0 days 00:01:09,True
4,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,step_3,0 days 00:00:09,False
...,...,...,...,...,...,...,...,...
172701,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_1,step_2,0 days 00:00:55,False
172702,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_2,step_1,0 days 00:00:02,True
172703,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_1,step_2,0 days 00:00:39,False
172704,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_2,step_3,0 days 00:00:30,False
172705,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_3,confirm,0 days 00:00:34,False

In [6]:
df.to_csv('../data/clean/time_spent_variation.csv', index = False)

# Merge all results into one dataframe

1. Completion rate per step
    - step 1
    - step 2
    - step 3
    - confirm


2. Time spent on each step
    - step 1
    - step 2
    - step 3
    - confirm
   
   
3. Error rate


4. Time spent on errors

## Read 1

In [7]:
completion_rate_step_test = pd.read_csv('../data/intermediate_steps/completion_rate_step_test.csv')
completion_rate_step_test.drop('Unnamed: 0', axis = 1, inplace = True)
completion_rate_step_test

      Step  Percentage
0    start  100.000000
1   step_1   83.515699
2   step_2   70.934121
3   step_3   63.846229
4  confirm   53.875126

In [8]:
completion_rate_step_control = pd.read_csv('../data/intermediate_steps/completion_rate_step_control.csv')
completion_rate_step_control.drop('Unnamed: 0', axis = 1, inplace = True)
completion_rate_step_control

      Step  Percentage
0    start  100.000000
1   step_1   73.509307
2   step_2   61.380447
3   step_3   54.797210
4  confirm   46.187822

## Read 2

In [9]:
average_time_spent_test = pd.read_csv('../data/intermediate_steps/average_time_spent_test.csv')
average_time_spent_test.drop('from_step', axis = 1, inplace = True)
average_time_spent_test.drop('Unnamed: 0', axis = 1, inplace = True)
average_time_spent_test

   to_step             avg_time_spent
0   step_1  0 days 00:00:56.984656210
1   step_2  0 days 00:00:41.813417548
2   step_3  0 days 00:01:30.230584275
3  confirm  0 days 00:01:50.698065449

In [10]:
average_time_spent_control = pd.read_csv('../data/intermediate_steps/average_time_spent_control.csv')
average_time_spent_control.drop('from_step', axis = 1, inplace = True)
average_time_spent_control.drop('Unnamed: 0', axis = 1, inplace = True)
average_time_spent_control

   to_step             avg_time_spent
0   step_1  0 days 00:01:04.276945972
1   step_2  0 days 00:00:37.193225006
2   step_3  0 days 00:01:33.193533460
3  confirm  0 days 00:02:14.721029065

## Read 3 & 4

In [11]:
errors_test = pd.read_csv('../data/intermediate_steps/errors_test.csv')
errors_test.drop('Unnamed: 0', axis = 1, inplace = True)
errors_test

  to_step  Percentage             avg_time_spent
0   error    7.760498  0 days 00:02:24.306587615

In [12]:
errors_control = pd.read_csv('../data/intermediate_steps/errors_control.csv')
errors_control.drop('Unnamed: 0', axis = 1, inplace = True)
errors_control

  to_step  Percentage             avg_time_spent
0   error    5.414974  0 days 00:01:57.116456945

# Make a big data frame

In [13]:
a_test = pd.merge(completion_rate_step_test, average_time_spent_test, on = 'to_step')
b_test = pd.concat([a_test, errors_test])
b_test['Variation'] = 'Test'
b_test.to_csv('../data/clean/results_test.csv')

KeyError: 'to_step'

In [71]:
a_control = pd.merge(completion_rate_step_control, average_time_spent_control, on = 'to_step')
b_control = pd.concat([a_control, errors_control])
b_control['Variation'] = 'Control'
b_control.to_csv('../data/clean/results_control.csv')

In [70]:
df = pd.concat([b_test, b_control], axis = 0)
df.to_csv('../data/clean/results.csv')